.sign-in {
	width: 20vw;
	margin: 4rem 5rem;
	// padding: 2rem 3rem;
	// box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	// border-radius: 5px;
	background-color: white;
}

.formGroup {
	margin: 3rem 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
