.sign-in {
	height: 75vh;
	width: 24rem;
	margin: 0 2rem;
	padding: 3rem 3.5rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.formGroup {
	margin-top: 1rem;
}
