.sign-up {
	width: 20vw;
	// margin: 0 3rem;
	// padding: 2rem 3rem;
	// box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	// border-radius: 5px;
}

.sign-up-form {
	margin: 3rem 0;
}

.signUpBtn {
	// text-align: center;
	margin-top: 3rem;
}
