.sign-up {
	height: 40rem;
	width: 20vw;
	margin: 10rem 5rem;
	padding: 5rem 3rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	// border-radius: 5px;
	background-color: white;
}

.sign-up-form {
	margin: 3rem 0;
}

.buttons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
