@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.header {
	position: absolute;
	width: 100vw;
	color: black;
	z-index: 10;

	&.scroll {
		background-color: black;
		position: fixed;

		p,
		.option {
			color: white;
		}
	}

	.header-container {
		margin: auto;
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		padding: 1rem 10px;
		background-color: rgba(0, 0, 0, 0);

		&-top {
			display: flex;
			justify-content: space-between;
			max-width: 1200px;
			width: 100%;

			.logo-container {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.logo {
					width: 50px;
					height: 50px;
				}

				p {
					font-weight: 700;
					margin: 0 0.5rem;
					letter-spacing: 5px;
				}
			}

			.options {
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.option {
					// font-weight: 700;
					padding: 10px 15px;
					cursor: pointer;

					&:hover {
						color: #f74e21;
						text-decoration: none;
					}
				}
			}
		}
	}
}
