@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.header {
	// position: sticky;
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	// margin-bottom: 3rem;
	padding: 3rem 5rem;
	background-color: black;
	color: #fff;

	& a {
		color: white;
	}

	.logo-container {
		height: 100%;
		width: 12rem;
		// padding: 25px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo {
			width: 50px;
			height: 50px;
		}

		p {
			margin: 0 0.5rem;
			// font-family: 'Berkshire sSwash', cursive;
			letter-spacing: 5px;
		}
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			cursor: pointer;

			&:hover {
				color: #fb7823;
			}
		}
	}
	.shopping-icon {
		width: 24px;
		height: 24px;
		margin: 15px;
		cursor: pointer;

		&:hover {
			color: #fb7823;
		}
	}
}
